*{
    margin:0;
    Padding:0;
}
h1{
    color:blue;
/* direction:rtl; */

}
P{color:chocolate;
    /* direction:rtl; */
/* letter-spacing: 1.5px; */
/* text-indent: 3cm; */
 text-align:center; 
 text-align:justify;
border:solid 5px darkblue;
padding:10px;
margin:20px;


}
body{
    background-color:aqua;
}
